# Compiled binaries
*.exe

# Build output
build/

# Editor config
.vscode/
.cache/

# Input/output data files
isvestis.txt
studentai1000000.txt

generatedData/
outputData/
archive/

# Local scripts
run.bat
run.sh